<%- include('header.html'); %>

<div class="container-fluid">
  <div class="row">

    <%- include('sidebar.html'); %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-5">
      <h1 class="h3 pt-3 pb-3 mb-3 border-bottom">Article</h1>    
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
        <button type="button" class="btn btn-sm btn-primary mb-3" onclick="javascript:window.location.href='/admin/article/editor'">Create</button>
        <form action="/admin/article">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <select class="form-control form-control-sm" id="category" name="category">
                <option value="">All</option>
                <% for(let i=0; i< categories.length; i++) { %>
                <option value="<%= categories[i].name %>"><%= categories[i].alias? categories[i].alias : categories[i].name %></option>
                <% } %>
              </select>
            </div>
            <input type="text" class="form-control form-control-sm" id="keyword" name="keyword" placeholder="keyword">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-secondary" type="submit">Search</button>
            </div>
          </div>
        </form>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="align-items-center">
              <th scope="col" class="text-center">#</th>
              <th scope="col">Title</th>
              <th scope="col" class="text-center">Category</th>
              <th scope="col" class="text-center">Recommends</th>
              <th scope="col" class="text-center">Hits</th>
              <th scope="col" class="text-center">Enabled</th>
              <th scope="col">UpdatedAt</th>
              <th scope="col">Operate</th>
            </tr>
          </thead>
          <tbody>
            <% for(let j=0; j< data.records.length; j++) { %>
            <tr class="align-items-center">
              <th scope="row" class="text-center"><%= data.records[j].id %></th>
              <td class="text-nowrap"><a href="/<%= data.records[j].category %>/<%= data.records[j].id %>" target="_blank"><%= data.records[j].title %></a></td>
              <td class="text-center"><%= data.records[j].category %></td>
              <td class="text-center"><%= data.records[j].recommends %></td>
              <td class="text-center"><%= data.records[j].hits %></td>
              <td class="text-center"><%= data.records[j].enabled %></td>
              <td class="text-nowrap"><%= data.records[j].updatedAt %></td>
              <td class="text-nowrap">
                <button type="button" class="btn btn-xs btn-outline-danger" data-toggle="modal" data-target="#delModal" onclick="sel(<%= data.records[j].id %>)">Del</button>
                <button type="button" class="btn btn-xs btn-outline-primary" onclick="javascript:window.location.href='/admin/article/editor?id=<%= data.records[j].id %>'">Edit</button>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <%- include('pagination.html'); %>
    </main>
  </div>

  <!-- del modal -->
  <div id="delModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Warning</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <span>Are you sure&hellip;</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-sm btn-danger" onclick="del()">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!-- message modal -->
  <div class="modal fade" id="messageModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">Message</div>
        <div class="modal-body"><h5>success!</h5></div>
      </div>
    </div>
  </div>

</div>

<%- include('script.html'); %>

<script type="text/javascript">
  // del
  var selId = null;
  function sel(id) {
    selId = id;
  }
  function del() {
    $.post({
      url: window.location.href.split("?")[0] + '/del',
      data: { 'id': selId },
      success: function(data) {
        $('#delModal').modal('hide');
        $('#messageModal').modal('show');
        setTimeout(function() { $('#messageModal').modal('hide') }, 2000);
        window.location.reload();
      }
    })
  }
</script>

<%- include('footer.html'); %>