<%- include('header.html'); -%>

<div class="container-fluid">
  <div class="row">

    <%- include('sidebar.html'); -%>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-5">
      <h1 class="h3 pt-3 pb-3 mb-3 border-bottom">Page Editor</h1> 

      <form id="editForm" action="/admin/page/editor" method="POST">
        <input type="hidden" class="form-control" id="id" name="id" value="<%=page.id%>">
        <div class="form-group">
          <label for="title">Title *</label>
          <input type="text" class="form-control" id="title" name="title" value="<%=page.title%>" required>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea id="content" name="content"><%=page.content%></textarea>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" id="enabled" name="enabled" value="1"> Enabled</label>
          <span id="enabled1" hidden="hidden"><%=page.enabled%></span>
        </div>
        <div class="d-flex justify-content-center mb-4">
          <button type="button" class="btn btn-light mr-3" onclick="javascript:window.location.href='/admin/page'">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>

    </main>
  </div>
</div>

<%- include('script.html'); -%>

<script src='/assets/tinymce/tinymce.min.js'></script>
<script type="text/javascript">
  $(document).ready(function() {
    // set checkbox
    var e = document.getElementById("enabled1").innerHTML;
    if(e ==1) $("#enabled").prop('checked', true);
    else $("#enabled").prop('checked', false);
  })
  // tinymce init
  tinymce.init({
    selector: '#content',
    // language: 'zh_CN',
    height: 1000,
    menubar: false,
    plugins: 'lists, advlist, table, link, media, image, code, preview, wordcount, autosave',
    toolbar: 'undo redo | fontsizeselect | bold italic underline forecolor backcolor | alignleft aligncenter alignright | bullist numlist table | link media image | code preview restoredraft',
    image_class_list: [{title:'img-fluid', value:'img-fluid'}],
    images_upload_url: window.location.href.split("?")[0] + '/upload'
  })
</script>

<%- include('footer.html'); -%>