<%- include('header.html'); -%>

<div class="container-fluid">
  <div class="row">

    <%- include('sidebar.html'); -%>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-5">
      <h1 class="h3 pt-3 pb-3 mb-3 border-bottom">资源</h1>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
        <input type="file" class="mb-3" id="myFile" accept="image/jpeg,image/png,image/gif">
        <form action="/admin/resource">
          <div class="input-group mb-3">
            <input type="text" class="form-control form-control-sm" id="keyword" name="keyword" placeholder="关键字">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-secondary" type="submit">搜索</button>
            </div>
          </div>
        </form>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="align-items-center">
              <th scope="col" class="text-center">#</th>
              <th scope="col">名称</th>
              <th scope="col" class="text-center">类型</th>
              <th scope="col" class="text-center">大小</th>
              <th scope="col">链接</th>
              <th scope="col">创建时间</th>
              <th scope="col">操作</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i< data.records.length; i++) { %>
            <tr class="align-items-center">
              <th scope="row" class="text-center"><%= data.records[i].id %></th>
              <td><%= data.records[i].name %></td>
              <td class="text-center"><%= data.records[i].type %></td>
              <td class="text-center"><%= data.records[i].size %></td>
              <td><a href="<%= data.records[i].url %>" target="_blank"><%= data.records[i].url %></a></td>
              <td class="text-nowrap"><%= data.records[i].createdAt %></td>
              <td class="text-nowrap">
                <button type="button" class="btn btn-xs btn-outline-danger" data-toggle="modal" data-target="#delModal" onclick="sel(<%= data.records[i].id %>)">删除</button>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <%- include('pagination.html'); -%>

    </main>
  </div>

  <!-- del modal -->
  <div id="delModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">警告</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <span>你确定吗&hellip;</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-sm btn-danger" onclick="del()">确定删除</button>
        </div>
      </div>
    </div>
  </div>

  <!-- message modal -->
  <div class="modal fade" id="messageModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">提示</div>
        <div class="modal-body"><h5>操作成功!</h5></div>
      </div>
    </div>
  </div>

</div>

<%- include('script.html'); -%>

<script type="text/javascript">
  $(document).ready(function() {
    $("#keyword").val(getQueryString('keyword'));
  })
  // upload
  $("#myFile").change(function(event) {
    event.preventDefault();
    var file = $('#myFile')[0].files[0];
    var form = new FormData($("#editForm")[0]);
    form.append('file', file);
    $.post({
      url: window.location.href.split("?")[0] + '/upload',
      data: form,
      cache: false,
      processData: false,
      contentType: false,
      success: function(data) {
        window.location.reload();
      },
      error: function(e) {
        console.log(e);
      }
    })
  })
  // del
  var selId = null;
  function sel(id) {
    selId = id;
  }
  function del() {
    $.post({
      url: window.location.href.split("?")[0] + '/del',
      data: { 'id': selId },
      success: function(data) {
        $('#delModal').modal('hide');
        $('#messageModal').modal('show');
        setTimeout(function() { $('#messageModal').modal('hide') }, 2000);
        window.location.reload();
      }
    })
  }
</script>

<%- include('footer.html'); -%>
