<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/admin/dashboard">
          <span data-feather="home"></span> Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/category">
          <span data-feather="menu"></span> Category
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/tag">
          <span data-feather="tag"></span> Tag
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/article">
          <span data-feather="file-text"></span> Article
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/page">
          <span data-feather="file"></span> Page
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/resource">
          <span data-feather="layers"></span> Resource
        </a>
      </li>
    </ul>
  </div>
</nav>