<%- include('header.html'); -%>

<div class="container-fluid">
  <div class="row">

    <%- include('sidebar.html'); -%>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mb-5">
      <h1 class="h3 pt-3 pb-3 mb-3 border-bottom">标签</h1> 
      <button type="button" class="btn btn-sm btn-primary mb-3" data-toggle="modal" data-target="#editModal" onclick="create()">新增</button>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="align-items-center">
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">名称</th>
              <th scope="col">备注</th>
              <th scope="col" class="text-center">点击量</th>
              <th scope="col" class="text-center">允许</th>
              <th scope="col">更新时间</th>
              <th scope="col">操作</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i< tags.length; i++) { %>
            <tr class="align-items-center">
              <th scope="row" class="text-center"><%= tags[i].id %></th>
              <td class="text-center"><%= tags[i].name %></td>
              <td class="text-nowrap"><%= tags[i].memo %></td>
              <td class="text-center"><%= tags[i].hits %></td>
              <td class="text-center"><%= tags[i].enabled %></td>
              <td class="text-nowrap"><%= tags[i].updatedAt %></td>
              <td class="text-nowrap">
                <button type="button" class="btn btn-xs btn-outline-danger" data-toggle="modal" data-target="#delModal" onclick="sel(<%= tags[i].id %>)">删除</button>
                <button type="button" class="btn btn-xs btn-outline-primary" data-toggle="modal" data-target="#editModal" onclick="update(<%= i %>)">编辑</button>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </main>
  </div>

  <div id="editModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">标签编辑器</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <form id="editForm" action="/admin/tag/create" method="POST">
          <div class="modal-body">
            <input type="hidden" class="form-control" id="id" name="id">
            <div class="form-group">
              <label for="name">名称 *</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
              <label for="memo">备注</label>
              <input type="text" class="form-control" id="memo" name="memo">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="enabled" name="enabled" value="1"> 允许</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-sm btn-primary">保存</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="delModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">警告</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <span>你确定吗&hellip;</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-sm btn-danger" onclick="del()">删除</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="messageModal" tabindex="-1">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">提示</div>
        <div class="modal-body"><h5>操作成功!</h5></div>
      </div>
    </div>
  </div>

</div>

<%- include('script.html'); -%>

<script type="text/javascript">
  // create
  function create() {
    $('#id').val(null);
    $('#name').val(null);
    $('#memo').val(null);
    $('input:checkbox').prop('checked', false); 
  }
  // update
  function update(i) {
    let tags = JSON.parse('<%-JSON.stringify(tags)%>');
    $('#id').val(tags[i].id);
    $('#name').val(tags[i].name);
    $('#memo').val(tags[i].memo);
    if(tags[i].enabled == 1) $('input:checkbox').prop('checked', true);
    else $('input:checkbox').prop('checked', false);
  }
  // del
  var selId = null;
  function sel(id) {
    selId = id;
  }
  function del() {
    $.post({
      url: window.location.href.split("?")[0] + '/del',
      data: { 'id': selId },
      success: function(data) {
        $('#delModal').modal('hide');
        $('#messageModal').modal('show');
        setTimeout(function() { $('#messageModal').modal('hide') }, 2000);
        window.location.reload();
      }
    })
  }
</script>

<%- include('footer.html'); -%>
